.about-sedona__heading {
  padding: 35px 20px 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 48px 40px 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 40px 45px;
  }
}

.about-sedona__heading::after {
  content: "";
  background-image: url(../img/about-sedona/mask.svg);
  height: 37px;
  min-width: 100%;
  position: absolute;
  bottom: -18px;
  transform: translateX(-50%);
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
