.advantages-list {
  padding: 0;
  list-style-type: none;
}

.about-sedona__advantages-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages-list__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    min-width: 1200px;
  }
}

.advantages-list__wrapper--reverse {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.advantages-list__title {
  margin: 0 0 11px;
  font-size: 18px;
  color: currentColor;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;

    br {
      display: block;
    }
  }
}

.advantages-list__item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list__numiration {
  display: block;
  margin: 0 0 11px;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px;
  }
}

.advantages-list__image {
  object-fit: cover;
  min-width: 100%;
}

.advantages-list__text-wrapper {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages-list__image-wrapper {
  @media (min-width: $tablet-width) {
    width: 66.66%;
  }
}

.advantages-list__text-wrapper--light {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 40px 16px 10px;

  @media (min-width: $tablet-width) {
    padding: 40px 26px 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 52px 56px;
  }
}


.advantages-list__text-wrapper--dark {
  background-color: #eeeeee;
  padding: 26px 26px 0;

  @media (min-width: $tablet-width) {
    padding: 42px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 54px 62px;
  }
}

.advantages-list__text {
  font-size: 14px;
  margin: 0;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.advantages-list__text--border {
  border-bottom: solid 1px rgba(214, 214, 214, 1);

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}
