.advantages-list {
  padding: 0;
  list-style-type: none;
}

.about-sedona__advantages-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages-list__title {
  margin: 0 0 11px;
  font-size: 18px;
  color: #000000;
}

.advantages-list__title--light {
  color: #ffffff;
}

.advantages-list__numiration {
  display: block;
  margin: 0 0 11px;
}

.advantages-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.advantages-list__text-wrapper {
  padding-bottom: 10px;
}

.advantages-list__text-wrapper--light {
  color: #ffffff;
  background-color: #81B3D2;
  padding: 33px 19px 0;
}


.advantages-list__item--back-dark {
  background-color: #EEEEEE;
  padding: 33px 19px 0;
}

.advantages-list__text-wrapper--border {
  border-bottom: solid 1px rgba(214, 214, 214, 1);
}

.advantages-list__text {
  font-size: 15px;
  margin: 0 0 15px;
}
