.advantages-list {
  padding: 0;
  list-style-type: none;
}

.advantages-list__wrapper {
  min-width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    min-width: 1200px;
  }
}

.advantages-list__wrapper--reverse {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.advantages-list__title {
  margin: 0 0 15px;
  font-size: 18px;
  color: currentColor;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 215px;
    margin: 0 auto 13px;
  }
}

.advantages-list__title--black {
  color: rgba(0, 0, 0, 1);
}

.advantages-list__title--width {
  @media (min-width: $tablet-width) {
    max-width: 159px;
    margin: 0 auto 12px;
  }
}

.advantages-list__item {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 33.33%;
  }
}

.advantages-list__item--row {
  @media (min-width: $tablet-width) {
    min-width: 33.33%;
  }
}

.advantages-list__numiration {
  display: block;
  margin: 0 0 17px;

  @media (min-width: $tablet-width) {
    margin: 0 0 22px;
  }
}

.advantages-list__image {
  object-fit: cover;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    max-height: 256px;
  }
}

.advantages-list__text-wrapper {
  box-sizing: border-box;
}

.advantages-list__image-wrapper {
  @media (min-width: $tablet-width) {
    width: 66.66%;
  }
}

.advantages-list__text-wrapper--light {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 51px 16px 16px 11px;

  @media (min-width: $tablet-width) {
    padding: 40px 26px 24px;
    width: 33.33%;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 52px 56px;
  }
}

.advantages-list__text-wrapper--light--padding {
  padding: 39px 9px 10px 11px;

  @media (min-width: $tablet-width) {
    padding: 41px 8px 10px 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 8px 10px 16px;
  }
}

.advantages-list__text-wrapper--dark {
  background-color: #eeeeee;
  padding: 27px 26px 0 28px;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    padding: 42px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 54px 62px;
  }
}

.advantages-list__text {
  font-size: 14px;
  margin: 0 auto;
  padding-bottom: 24px;
  max-width: 265px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    max-width: 195px;

    & br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 288px;

    br {
      display: none;
    }
  }
}

.advantages-list__text--border {
  border-bottom: solid 1px rgba(214, 214, 214, 1);
  max-width: 250px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 283px;
  }
}

.advantages-list__text--width-small {
  @media (min-width: $desktop-width) {
    max-width: 230px;
  }
}

.advantages-list__text--width {
  @media (min-width: $desktop-width) {
    max-width: 300px;

    br {
      display: none;
    }
  }
}

.advantages-list__text-wrapper--braker {
  padding: 27px 32px 0 31px;

  @media (min-width: $tablet-width) {
    padding: 42px 38px;
  }
}
