.advantages-city-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: start;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.advantages-city-list__item {
  display: grid;
  grid-template-columns: 14% 83%;
  column-gap: 10px;
  padding: 21px 16px 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    padding: 60px 38px 8px;
    width: 33.33%;
    box-sizing: border-box;
    row-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 56px 79px;
    row-gap: 30px;
  }
}

.advantages-city-list__title {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0 -6px 23px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin: 0 -6px 22px 0;
  }
}

.advantages-city-list__text {
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    max-width: 192px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 300px;
  }
}

.advantages-city-list__text--width {
  @media (min-width: $tablet-width) {

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 300px;

    br {
      display: block;
    }
  }
}

.advantages-city-list__svg {
  color: #81b3d2;
  margin: 2px 0 0 4px;

  @media (min-width: $tablet-width) {
    width: 75px;
    height: 72px;
    margin: 0;
  }
}

.advantages-city-list__text-wrapper {
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.advantages-city-list__text-wrapper--padding {
  padding-left: 7px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.advantages-city-list__title--margin {
  @media (min-width: $tablet-width) {
    margin-top: -14px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -77px;
  }
}

.advantages-city-list__item--margin {
  margin-top: -3px;
  margin-left: -3px;

  @media (min-width: $tablet-width) {
    padding: 60px 32px 8px;
    margin-top: -8px;
    margin-left: -0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 0;
  }
}
