.button {
  background-color: rgba(129, 179, 210, 1);
  color: #ffffff;
  font-weight: 700;
  padding: 16px 0;
  text-align: center;
  display: block;
  max-width: 458px;
  text-transform: uppercase;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: rgba(102, 158, 192, 1);
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    background-color: rgba(84, 150, 189, 1);
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: rgba(229, 229, 229, 1);
  }
}
