.button {
  background-color: rgba(129, 179, 210, 1);
  color: #ffffff;
  font-weight: 700;
  padding: 16px 0px;
  text-align: center;
  display: block;
  max-width: 458px;
  text-transform: uppercase;
  border: none;
}
