.checkbox {
  appearance: none;

  &:checked ~ .checkbox__fake::before {
    background-image: url("../img/form/tick.svg");
  }
}

.checkbox__fake {
  display: flex;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
  align-items: center;
  justify-content: center;
  margin-left: -16px;

  &::before {
    content: "";
    display: block;
    width: 22px;
    height: 16px;
  }
}
