.feedback {
  @media (min-width: $tablet-width) {
    padding: 0 60px 46px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 100px 61px;
  }
}

.feedback__general-form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feedback__heading {
  padding: 37px 20px 25px;
  border-bottom: solid 1px #e5e5e5;

  @media (min-width: $tablet-width) {
    max-width: 435px;
    padding: 64px 0 82px;
    margin: 0 auto;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 0 46px;
  }
}

.feedback__form {
  padding: 28px 20px 33px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.feedback__form--padding {
  padding: 24px 20px 24px;

  @media (min-width: $tablet-width) {
    padding: 28px 20px 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 63px 37px;
    row-gap: 35px;
  }
}

.feedback__form--row {
  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}
