.feedback {
  @media (min-width: $tablet-width) {
    padding: 0 60px 46px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 100px 61px;
  }
}

.feedback__general-form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feedback__heading {
  padding: 37px 20px 25px;
  border-bottom: solid 1px #e5e5e5;

  @media (min-width: $tablet-width) {
    max-width: 435px;
    padding: 64px 0 79px;
    margin: 0 auto;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 0 46px;
  }
}

.feedback__form {
  padding: 28px 20px 33px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.feedback__form--padding {
  padding: 24px 20px 24px;

  @media (min-width: $tablet-width) {
    padding: 28px 24px 20px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 63px 37px;
    row-gap: 32px;
  }
}

.feedback__form--row {
  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.feedback__button-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 14px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 27px 0 18px 6px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 0 122px;
  }
}

.feedback__button {
  margin: 0 auto;
  min-width: 281px;
  line-height: 26px;
  font-size: 21px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 -7px;
    min-width: 325px;
  }

  @media (min-width: $desktop-width) {
    min-width: 383px;
    padding: 20px 15px 14px 7px;
  }
}

.feedback__attantion {
  margin-left: auto;
  margin-top: 6px;
}
