.find-us__wrapper {
  padding: 38px 18px 49px;
  @media (min-width: $tablet-width) {
    width: 435px;
    margin: 0 auto;
  }
}

.find-us__title {
  margin: 0 0 20px;
}

.find-us__text {
  margin: 0 0 32px;
  font-size: 14px;
  line-height: 21px;
}

.find-us__find-hotel-button {
  font-size: 21px;
  line-height: 26px;
}
