.form:not(:nth-last-child(-n+2)) {
  border-bottom: solid 1px #e5e5e5;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.form:nth-child(1),
.form:nth-child(2) {
  @media (min-width: $tablet-width) {
    max-width: 43%;
    padding: 24px 0 35px;
  }

  @media (min-width: $desktop-width) {
    max-width: 448px;
  }
}

.form:nth-child(1)::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    position: absolute;
    right: 49%;
  }
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.form__label--row {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.form__label--phone::after {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/form/phone-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;

  @media (min-width: $tablet-width) {
    right: -5px;
  }

  @media (min-width: $desktop-width) {
    right: 23px;
  }
}

.form__label--mail::after {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/form/mail-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;

  @media (min-width: $tablet-width) {
    right: -5px;
  }

  @media (min-width: $desktop-width) {
    right: 23px;
  }
}

.form__label-title {
  align-self: flex-start;
  margin-left: 20px;
}

.form__input:not(:last-child) {
  margin-bottom: 16px;
}

.form__button-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 14px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 0 122px;
  }
}

.form__button {
  margin: 0 auto;
  min-width: 281px;
  line-height: 26px;
  font-size: 21px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 -7px;
    min-width: 325px;
  }

  @media (min-width: $desktop-width) {
    min-width: 383px;
    padding: 20px 15px 14px 7px;
  }
}

.form__title {
  margin: 0 0 4px;
  color: rgba(0, 0, 0, 1);

  @media (min-width: $tablet-width) {
    margin: 0 0 11px;
  }
}

.form__title--border {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 104px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 250px;
  }

}

.form__title--border::before {
  @media (min-width: $tablet-width) {
    content: "";
    width: 19%;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    left: -35px;
  }
}

.form__title--border::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 20%;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    right: 0;
    top: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    right: -35px;
  }
}

.form__title--border-last {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 300px;
  }
}

.form__title--border-last::before {
  @media (min-width: $tablet-width) {
    content: "";
    width: 19%;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    left: 15px;
  }
}

.form__title--border-last::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 20%;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    right: 0;
    top: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    right: 15px;
  }
}

.form__title--margin {
  @media (min-width: $tablet-width) {
    margin-left: -34px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 45px;
  }
}

.form__list-radio {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 57px;
  }
}

.form__list-checkbox {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 224px 224px;
    column-gap: 32px;
    margin-left: 55px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 14px 0 27px -5px;
    column-gap: 61px;
  }
}

.form__item {
  text-align: start;
}

.form__attantion {
  margin-left: auto;
  margin-top: 6px;
}

.form__label--margin {
  margin-left: -5px;

  @media (min-width: $desktop-width) {
    margin-left: 17px;
  }
}

.form__title--margin-left {
  @media (min-width: $tablet-width) {
    margin-left: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 73px;
  }
}

.feedback__form--padding-no {
  padding: 25px 20px 33px;

  @media (min-width: $tablet-width) {
    padding: 21px 0 35px;
  }
}

.form__label--phone,
.form__label--mail {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 26px;
  }
}
