.form:not(:nth-last-child(-n+2)) {
  border-bottom: solid 1px #e5e5e5;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.form:nth-child(1),
.form:nth-child(2) {
  @media (min-width: $tablet-width) {
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.form__label {
  margin-right: auto;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.form__input:not(:last-child) {
  margin-bottom: 16px;
}

.form__button-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
}

.form__button {
  margin: 0 auto;
  min-width: 281px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__title {
  margin: 0 0 20px;
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__item {
  text-align: start;
}

.form__attantion {
  margin-left: auto;
}
