.heading {
  padding: 35px 20px 0;
}

.heading__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 35px;
  padding: 0 10px;
}

.heading__subtitle {
  margin: 0;
  padding: 0 10px;
  margin: 0 0 35px;
}
