.index-intro {
  background-color: #a4c9dd;
  background-image: url("../img/intro/index-intro/back-mobile.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 90px 20px 85px;
  position: relative;
  overflow: hidden;
}

.index-intro::after {
  content: "";
  background-image: url(../img/intro/mask.svg);
  height: 57px;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  background-position: center;
  background-repeat: no-repeat;
}

.index-intro__intro-image {
  margin: 0 auto;
}
