.input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  padding: 16px 16px 16px 16px;
}

.input::placeholder {
  opacity: 0.3;
}

.input--comment {
  min-height: 150px;
  resize: none;
  box-sizing: border-box;
}
