.intro {
  background-color: #a4c9dd;
  background-image: url("../img/intro/intro/back-intro.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 51px 20px 65px;
}

.intro::after {
  content: "";
  background-image: url("../img/intro/index-intro/intro-mask.svg");
  max-width: $mobile-width;
  height: 58px;
  position: absolute;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, 15%);
  @media (min-width: $tablet-width) {
    background-image: url("../img/intro/index-intro/intro-mask-tablet.svg");
    width: $tablet-width;
    max-width: $tablet-width;
  }
  @media (min-width: $desktop-width) {
    background-image: url("../img/intro/intro/mask-desktop.svg");
    width: $desktop-width;
    max-width: $desktop-width;
  }
}

.intro__intro-image {
  margin: 0 auto;
}
