.main-nav {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 56px;
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 185px;
  height: 96px;
  z-index: 1;

  &:hover,
  &:focus,
  &:focus-within {
    opacity: 0.6;
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle-open {
  padding: 17px 20px 12px;
  display: block;
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  fill: rgba(129, 179, 210, 1);

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus,
  &:focus-within {
    opacity: 0.6;
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle-close {
  padding: 17px 20px 12px;
  order: 1;
  display: block;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  fill: rgba(255, 255, 255, 1);

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus,
  &:focus-within {
    opacity: 0.6;
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    opacity: 0.3;
  }
}
