.marker {
  display: block;
  width: 27px;
  height: 27px;
  background-color: rgba(129, 179, 211, 1);
  border: solid 5px rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: absolute;
  top: 51%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 0;
  cursor: pointer;

  &:hover {
    color: rgba(229, 229, 229, 0.7);
  }

  &:focus,
  &:focus-within {
    color: rgba(255, 255, 255, 1);
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
