.media__heading {
  padding: 37px 20px 40px;
  border-bottom: solid 1px #e5e5e5;

  @media (min-width: $tablet-width) {
    max-width: 458px;
    margin: 0 auto;
    border-bottom: none;
    grid-column: 1/-1;
    padding: 67px 40px 85px;
  }

  @media (min-width: $desktop-width) {
    padding: 104px 40px 89px;
  }
}

.media {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
