.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;

  @media (min-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    background-color: transparent;
    z-index: 0;
    position: relative;
  }
}

.list-nav--open {
  display: block;
}

.nav-list--close {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.nav-list--nojs {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  & .main-nav__toggle-close {
    display: none;
  }
}

.nav-list__item {
  font-weight: 700;
  min-height: 55px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  box-shadow:
    0 -1px 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 18px;
  line-height: 26px;
  position: relative;
  width: 100%;

  @media (min-width: $mobile-width) {
    &:hover,
    &:focus,
    &:focus-within {
      background-color: #669ec0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 20%;
    color: #000000;
    box-shadow: none;
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: transparent;
      color: rgba(129, 179, 210, 1);
    }
  }
}

@media (min-width: $tablet-width) {
  .nav-list__item--active {
    color: #766357;
  }

  .nav-list__item:nth-child(4n+3) {
    margin-left: 20%;
  }
}

.nav-list__item:last-child::after {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  width: 100%;
  height: 7px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav-list__link {
  padding: 17px 10px 12px;
  box-sizing: border-box;
  display: block;

  @media (min-width: $mobile-width) {
    &:hover,
    &:focus,
    &:focus-within {
      background-color: #669ec0;
      outline: 0;
      outline-offset: 0;
    }

    &:active {
      background-color: #5496bd;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: transparent;
      color: rgba(129, 179, 210, 1);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
