.page {
  height: 100%;
  background-color: #f2f2f2;
}

.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(0, 0, 0, 25%);
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: $mobile-width;
  min-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  box-sizing: content-box;

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}
