.promo-video {
  text-align: center;
  padding: 17px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 58px 60px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 200px 91px;
  }
}

.promo-video__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 30px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 32px;
  }
}

.promo-video__text-wrapper {
  max-width: 485px;
  margin: 0 auto 38px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 91px;
  }
}

.promo-video__text {
  margin: 0 0 20px;
  padding: 0 20px;
}

.promo-video__video-player {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    height: 500px;
  }
}

.promo-video__player-wrapper {
  position: relative;
}
