.social {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}

.social__item {
  margin: 3px 3px;
  box-sizing: border-box;
}

.social__icon {
  display: block;
  fill: currentColor;
}

.social__link {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 12px;
  box-sizing: border-box;
  display: block;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: rgba(102, 158, 192, 1);
    outline: 0;
    outline-offset: 0;
  }

  &:active,
  &:active .social__link {
    color: rgba(255, 255, 255, 0.3);
  }
}
