@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.page {
  height: 100%;
  background-color: #e5e5e5;
}

.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  max-width: 320px;
  min-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
@media (min-width: 768px) {
  .page__body {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__body {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.image {
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.main-nav {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 56px;
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 185px;
  height: 96px;
  z-index: 1;
}
.main-nav__logo:hover, .main-nav__logo:focus, .main-nav__logo:focus-within {
  opacity: 0.6;
  outline: 0;
  outline-offset: 0;
}
.main-nav__logo:active {
  opacity: 0.3;
}

.main-nav__toggle-open {
  padding: 17px 20px 12px;
  display: block;
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle-open {
    display: none;
  }
}
.main-nav__toggle-open:hover, .main-nav__toggle-open:focus, .main-nav__toggle-open:focus-within {
  opacity: 0.6;
  outline: 0;
  outline-offset: 0;
}
.main-nav__toggle-open:active {
  opacity: 0.3;
}

.main-nav__toggle-close {
  padding: 17px 20px 12px;
  order: 1;
  display: block;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle-close {
    display: none;
  }
}
.main-nav__toggle-close:hover, .main-nav__toggle-close:focus, .main-nav__toggle-close:focus-within {
  opacity: 0.6;
  outline: 0;
  outline-offset: 0;
}
.main-nav__toggle-close:active {
  opacity: 0.3;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (min-width: 320px) {
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    background-color: transparent;
  }
}

.list-nav--open {
  display: block;
}

.nav-list--close {
  display: none;
}
@media (min-width: 768px) {
  .nav-list--close {
    display: flex;
  }
}

.nav-list__item {
  font-weight: 700;
  height: 55px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 18px;
  line-height: 26px;
  position: relative;
  width: 100%;
}
@media (min-width: 320px) {
  .nav-list__item:hover, .nav-list__item:focus, .nav-list__item:focus-within {
    background-color: #669ec0;
  }
}
@media (min-width: 768px) {
  .nav-list__item {
    width: 20%;
    color: #000000;
    box-shadow: none;
    font-size: 14px;
    line-height: 21px;
    background-color: transparent;
  }
  .nav-list__item:hover, .nav-list__item:focus, .nav-list__item:focus-within {
    background-color: transparent;
    color: #81b3d2;
  }
}

@media (min-width: 768px) {
  .nav-list__item--active {
    color: #766357;
  }

  .nav-list__item:nth-child(4n+3) {
    margin-left: 20%;
  }
}
.nav-list__item:last-child::after {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  width: 100%;
  height: 7px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .nav-list__item:last-child::after {
    display: none;
  }
}

.nav-list__link {
  padding: 17px 10px 12px;
  box-sizing: border-box;
  display: block;
}
@media (min-width: 320px) {
  .nav-list__link:hover, .nav-list__link:focus, .nav-list__link:focus-within {
    background-color: #669ec0;
    outline: 0;
    outline-offset: 0;
  }
  .nav-list__link:active {
    background-color: #5496bd;
    opacity: 0.3;
  }
}
@media (min-width: 768px) {
  .nav-list__link {
    background-color: transparent;
  }
  .nav-list__link:hover, .nav-list__link:focus, .nav-list__link:focus-within {
    background-color: transparent;
    color: #81b3d2;
  }
  .nav-list__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.index-intro {
  background-color: #a4c9dd;
  background-image: url("../img/intro/index-intro/back-mobile.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 90px 20px 85px;
  position: relative;
  overflow: hidden;
}

.index-intro::after {
  content: "";
  background-image: url("../img/intro/mask.svg");
  height: 57px;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  background-position: center;
  background-repeat: no-repeat;
}

.index-intro__intro-image {
  margin: 0 auto;
}

.heading__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto 38px;
  color: #000000;
  max-width: 270px;
}
@media (min-width: 768px) {
  .heading__title {
    max-width: 520px;
    font-size: 21px;
  }
}

@media (min-width: 768px) {
  .heading__title--s30 {
    max-width: 435px;
    font-size: 30px;
  }
}

.heading__subtitle {
  margin: 0;
}
.heading__subtitle br {
  display: none;
}
@media (min-width: 768px) {
  .heading__subtitle br {
    display: block;
  }
}

.advantages-list {
  padding: 0;
  list-style-type: none;
}

.about-sedona__advantages-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .advantages-list__wrapper {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .advantages-list__wrapper {
    min-width: 1200px;
  }
}

@media (min-width: 768px) {
  .advantages-list__wrapper--reverse {
    flex-direction: row-reverse;
  }
}

.advantages-list__title {
  margin: 0 0 11px;
  font-size: 18px;
  color: currentColor;
}
.advantages-list__title br {
  display: none;
}
@media (min-width: 768px) {
  .advantages-list__title {
    font-size: 21px;
    line-height: 26px;
  }
  .advantages-list__title br {
    display: block;
  }
}

.advantages-list__item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list__numiration {
  display: block;
  margin: 0 0 11px;
}
@media (min-width: 768px) {
  .advantages-list__numiration {
    margin: 0 0 26px;
  }
}

.advantages-list__image {
  object-fit: cover;
}

.advantages-list__text-wrapper {
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .advantages-list__text-wrapper {
    width: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages-list__text-wrapper {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .advantages-list__image-wrapper {
    width: 66.66%;
  }
}

.advantages-list__text-wrapper--light {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 40px 16px 10px;
}
@media (min-width: 768px) {
  .advantages-list__text-wrapper--light {
    padding: 40px 26px 24px;
  }
}
@media (min-width: 1200px) {
  .advantages-list__text-wrapper--light {
    padding: 47px 52px 56px;
  }
}

.advantages-list__text-wrapper--dark {
  background-color: #eeeeee;
  padding: 26px 26px 0;
}
@media (min-width: 768px) {
  .advantages-list__text-wrapper--dark {
    padding: 42px 40px;
  }
}
@media (min-width: 1200px) {
  .advantages-list__text-wrapper--dark {
    padding: 42px 54px 62px;
  }
}

.advantages-list__text {
  font-size: 14px;
  margin: 0;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .advantages-list__text {
    padding-bottom: 0;
  }
}

.advantages-list__text--border {
  border-bottom: solid 1px #d6d6d6;
}
@media (min-width: 768px) {
  .advantages-list__text--border {
    border-bottom: none;
  }
}

.advantages-city-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: start;
}
@media (min-width: 768px) {
  .advantages-city-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.advantages-city-list__item {
  display: grid;
  grid-template-columns: 14% 83%;
  column-gap: 3%;
  padding: 23px 16px 0;
}
@media (min-width: 768px) {
  .advantages-city-list__item {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    padding: 60px 22px;
    width: 33.33%;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .advantages-city-list__item {
    padding: 59px 56px 79px;
  }
}

.advantages-city-list__title {
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .advantages-city-list__title {
    font-size: 21px;
  }
}

.advantages-city-list__text {
  margin: 0 0 22px;
}
.advantages-city-list__text br {
  display: none;
}
@media (min-width: 1200px) {
  .advantages-city-list__text br {
    display: block;
  }
}

.advantages-city-list__text-wrapper {
  padding-top: 8px;
}

.find-us__wrapper {
  padding: 38px 18px 49px;
}
@media (min-width: 768px) {
  .find-us__wrapper {
    width: 435px;
    margin: 0 auto;
    padding: 61px 18px 58px;
  }
}
@media (min-width: 1200px) {
  .find-us__wrapper {
    padding: 61px 18px 66px;
  }
}

.find-us__title {
  margin: 0 0 20px;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .find-us__title {
    font-size: 30px;
  }
}

.find-us__text {
  margin: 0 0 32px;
}
.find-us__text br {
  display: none;
}
@media (min-width: 768px) {
  .find-us__text br {
    display: block;
  }
}

.find-us__find-hotel-button {
  font-size: 21px;
  line-height: 26px;
}

.button {
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  padding: 16px 0;
  text-align: center;
  display: block;
  max-width: 458px;
  text-transform: uppercase;
  border: none;
}
.button:hover, .button:focus, .button:focus-within {
  background-color: #669ec0;
  outline: 0;
  outline-offset: 0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #e5e5e5;
}

.main-footer__container {
  padding: 38px 0 0;
}
@media (min-width: 768px) {
  .main-footer__container {
    display: flex;
    padding: 36px 60px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .main-footer__container {
    padding: 36px 100px;
  }
}

.social {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  margin: 3px 3px;
  box-sizing: border-box;
}

.social__icon {
  display: block;
}

.social__link {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 12px;
  box-sizing: border-box;
  display: block;
}
.social__link:hover, .social__link:focus, .social__link:focus-within {
  background-color: #669ec0;
  outline: 0;
  outline-offset: 0;
}
.social__link:active, .social__link:active .social__link {
  color: rgba(255, 255, 255, 0.3);
}

.hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.intro {
  background-color: #a4c9dd;
  background-image: url("../img/intro/intro/back-intro.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 51px 20px 65px;
  position: relative;
  overflow: hidden;
}

.intro::after {
  content: "";
  background-image: url("../img/intro/mask.svg");
  height: 57px;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  background-position: center;
  background-repeat: no-repeat;
}

.intro__intro-image {
  margin: 0 auto;
}

.card {
  padding: 24px 20px 25px;
  border-bottom: solid 1px #e5e5e5;
  position: relative;
}
@media (min-width: 768px) {
  .card {
    border-bottom: none;
    padding: 0 0 0;
  }
}

@media (min-width: 768px) {
  .card:first-of-type {
    grid-column: 1/3;
  }
}
.card__photo {
  object-fit: cover;
  width: 100%;
}

.card__author-container {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .card__author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .card__author-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .card:nth-child(2n+4) .card__author-container {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .card:nth-child(2n+4) .card__author-container {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.card__author {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 11px;
}

.card__title {
  margin: 0;
}

.card__likes-container {
  text-align: start;
  display: flex;
  gap: 14px;
  align-items: baseline;
}

.card__author-name {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
@media (min-width: 1200px) {
  .card__author-name {
    color: #ffffff;
  }
}

.card__text {
  text-transform: none;
}

.card__like-icon {
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .card__like-icon {
    opacity: 1;
  }
}

.card__like-quantity {
  color: #000000;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .card__like-quantity {
    color: #ffffff;
  }
}

.promo-video {
  text-align: center;
  padding: 17px 20px 0;
}
@media (min-width: 768px) {
  .promo-video {
    padding: 58px 60px 0;
  }
}
@media (min-width: 1200px) {
  .promo-video {
    padding: 58px 200px 0;
  }
}

.promo-video__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 30px;
  color: #000000;
}
@media (min-width: 768px) {
  .promo-video__title {
    font-size: 30px;
  }
}

.promo-video__text-wrapper {
  max-width: 485px;
  margin: 0 auto 38px;
}
@media (min-width: 768px) {
  .promo-video__text-wrapper {
    margin: 0 auto 80px;
  }
}

.promo-video__text {
  margin: 0 0 20px;
  padding: 0 20px;
}

.promo-video__video-player {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .feedback {
    padding: 0 40px 28px;
  }
}
@media (min-width: 1200px) {
  .feedback {
    padding: 0 100px 28px;
  }
}

@media (min-width: 768px) {
  .feedback__general-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feedback__heading {
  padding: 37px 20px 25px;
  border-bottom: solid 1px #e5e5e5;
}
@media (min-width: 768px) {
  .feedback__heading {
    max-width: 435px;
    padding: 64px 0 78px;
    margin: 0 auto;
    border-bottom: none;
  }
}

.feedback__form {
  padding: 24px 20px 39px;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 16px;
}
@media (min-width: 768px) {
  .feedback__form {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .feedback__form--row {
    flex-direction: column;
  }
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .title {
    font-size: 21px;
  }
}

.input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  padding: 8px 16px;
  border: 4px solid #f2f2f2;
  min-height: 58px;
  box-sizing: border-box;
}
.input:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.input:focus, .input:focus-within {
  background-color: white;
  outline: 0;
  outline-offset: 0;
}

.input::placeholder {
  opacity: 0.3;
}

.input--comment {
  min-height: 150px;
  resize: none;
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .input--comment {
    max-width: 768px;
    margin: 0 96px;
  }
}

.form:not(:nth-last-child(-n+2)) {
  border-bottom: solid 1px #e5e5e5;
}
@media (min-width: 768px) {
  .form:not(:nth-last-child(-n+2)) {
    border-bottom: none;
  }
}

@media (min-width: 768px) {
  .form:nth-child(1),
.form:nth-child(2) {
    width: 280px;
  }
}
@media (min-width: 1200px) {
  .form:nth-child(1),
.form:nth-child(2) {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .form:nth-child(1)::after {
    content: "";
    width: 1px;
    height: 90%;
    background-color: #dbdbdb;
    position: absolute;
    right: -7%;
  }
}
@media (min-width: 1200px) {
  .form:nth-child(1)::after {
    right: -15%;
  }
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.form__label--row {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.form__label--phone::after {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/form/phone-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}

.form__label--mail::after {
  content: "";
  display: block;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../img/form/mail-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}

.form__label-title {
  align-self: flex-start;
  margin-left: 16px;
}

.form__input:not(:last-child) {
  margin-bottom: 16px;
}

.form__button-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__button-container {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .form__button-container {
    padding: 0 117px;
  }
}

.form__button {
  margin: 0 auto;
  min-width: 281px;
}
@media (min-width: 768px) {
  .form__button {
    margin: 0;
    min-width: 324px;
  }
}

.form__title {
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .form__title {
    margin: 0 0 12px;
  }
}

@media (min-width: 768px) {
  .form__title--border {
    position: relative;
    padding: 0 150px;
  }
}

@media (min-width: 768px) {
  .form__title--border::before {
    content: "";
    width: 19%;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 50%;
  }
}
@media (min-width: 1200px) {
  .form__title--border::before {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .form__title--border::after {
    content: "";
    width: 20%;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    right: 0;
    top: 50%;
  }
}
@media (min-width: 1200px) {
  .form__title--border::after {
    width: 30%;
  }
}

.form__title--margin {
  margin-left: -24px;
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 768px) {
  .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .form__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__item {
  text-align: start;
}

.form__attantion {
  margin-left: auto;
}

.attantion {
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
}
@media (min-width: 768px) {
  .attantion {
    color: #333333;
  }
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.modal--error {
  box-sizing: border-box;
  padding: 45px 41px 35px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .modal--error {
    padding: 50px 64px;
    max-width: 400px;
  }
}

.modal__button {
  margin: 0 auto;
  min-width: 180px;
}
@media (min-width: 768px) {
  .modal__button {
    min-width: 240px;
  }
}

.modal__heading-error {
  padding: 0 0 28px;
  max-width: 320px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal__heading-error {
    max-width: 400px;
  }
}

.modal__heading-sent {
  padding: 39px 38px 30px;
  max-width: 320px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal__heading-sent {
    max-width: 640px;
    padding: 53px 98px 55px;
  }
}

.modal__button-wrapper-sent {
  padding: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .modal__button-wrapper-sent {
    padding: 44px 91px;
  }
}

.modal__title {
  margin: 0 0 30px;
}

.modal__subtitle {
  margin: 0;
}

.control-label {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  padding-left: 16px;
  text-transform: none;
}

.about-sedona__heading {
  padding: 35px 20px 25px;
  position: relative;
}
@media (min-width: 768px) {
  .about-sedona__heading {
    padding: 48px 40px 56px;
  }
}
@media (min-width: 1200px) {
  .about-sedona__heading {
    padding: 59px 40px 45px;
  }
}

.about-sedona__heading::after {
  content: "";
  background-image: url("../img/about-sedona/mask.svg");
  height: 37px;
  min-width: 100%;
  position: absolute;
  bottom: -18px;
  transform: translateX(-50%);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .about-sedona__heading::after {
    display: none;
  }
}

.media__heading {
  padding: 37px 20px 40px;
  border-bottom: solid 1px #e5e5e5;
}
@media (min-width: 768px) {
  .media__heading {
    max-width: 458px;
    margin: 0 auto;
    border-bottom: none;
    grid-column: 1/-1;
    padding: 67px 40px;
  }
}
@media (min-width: 768px) {
  .media__heading {
    padding: 100px 40px 85px;
  }
}

@media (min-width: 768px) {
  .media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .media {
    padding: 0;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal-container--error-close {
  display: none;
}

.modal-container--sent-close {
  display: none;
}

.video-player {
  width: 100%;
}

.map {
  width: 100%;
  object-fit: cover;
}

.authors__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}
.authors__link:hover, .authors__link:focus, .authors__link:focus-within {
  color: #81b3d2;
  outline: 0;
  outline-offset: 0;
}
.authors__link:active {
  color: #b3b3b3;
}

.radio {
  -webkit-appearance: none;
          appearance: none;
}
.radio:checked ~ .radio__fake::before {
  width: 16px;
  height: 16px;
}

.radio__fake {
  display: flex;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
  margin-left: -16px;
}
.radio__fake::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #333333;
}

.checkbox {
  -webkit-appearance: none;
          appearance: none;
}
.checkbox:checked ~ .checkbox__fake::before {
  background-image: url("../img/form/tick.svg");
}

.checkbox__fake {
  display: flex;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
  margin-left: -16px;
}
.checkbox__fake::before {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
}
/*# sourceMappingURL=style.css.map */