@import "./variables/variables.scss";
@import "./fonts/fonts.scss";
@import "./blocks/page.scss";
@import "./else/visually-hidden.scss";
@import "./blocks/link.scss";
@import "./blocks/image.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/index-intro.scss";
@import "./blocks/heading.scss";
@import "./blocks/advantages-list.scss";
@import "./blocks/advantages-city-list.scss";
@import "./blocks/find-us.scss";
@import "./blocks/button.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/hashtag.scss";
@import "./blocks/intro.scss";
@import "./blocks/card.scss";
@import "./blocks/promo-video.scss";
@import "./blocks/feedback.scss";
@import "./blocks/title.scss";
@import "./blocks/input.scss";
@import "./blocks/form.scss";
@import "./blocks/attantion.scss";
@import "./blocks/modal.scss";
@import "./blocks/control-label.scss";
@import "./blocks/about-sedona.scss";
@import "./blocks/media.scss";
@import "./blocks/modal-container.scss";
@import "./blocks/video-player.scss";
@import "./blocks/map.scss";
@import "./blocks/authors.scss";
